@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
@font-face {
    font-family: "Proxima"; /* Choose a name for your font */
    src: url("/fonts/Proxima\ Nova\ Font.otf") format("opentype");
    /* Add additional font formats if needed (e.g., woff, woff2) for better browser compatibility */
}
@font-face {
    font-family: "ItalianPlateNo2"; /* Choose a name for your font */
    src: url("/fonts/Italian\ Plate\ No2.woff2.ttf") format("truetype");
    /* Add additional font formats if needed (e.g., woff, woff2) for better browser compatibility */
}
.ass {
    font-family: "Proxima", sans-serif;
    font-weight: 800;
    color: #063034;
}
::-webkit-scrollbar {
    width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 20px;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 20px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #444;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.5;
}

.navbar {
    background-color: #063034;
}
.contact-bg {
    height: 40vh;
    width: 100vw;
    background-color: #0e484d;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.contact-bg h3 {
    font-weight: 400;
}
.contact-bg h2 {
    text-transform: uppercase;
    padding: 0.4rem 0;
    letter-spacing: 4px;
}
.line div {
    margin: 0 0.2rem;
}
.line div:nth-child(1),
.line div:nth-child(3) {
    height: 3px;
    width: 70px;
    background: #f7327a;
    border-radius: 5px;
}
.line {
    display: flex;
    align-items: center;
}
.line div:nth-child(2) {
    width: 10px;
    height: 10px;
    background: #f7327a;
    border-radius: 50%;
}
.text {
    font-weight: 300;
    opacity: 0.9;
}
.contact-bg .text {
    margin: 1.6rem 0;
}
.contact-body {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 1rem;
}
.contact-info {
    margin: 2rem 0;
    text-align: center;
    padding: 2rem 0;
}
.contact-info span {
    display: block;
}
.contact-info div {
    margin: 0.8rem 0;
    padding: 1rem;
}
.contact-info span .fas {
    font-size: 2rem;
    padding-bottom: 0.9rem;
    color: #f7327a;
}
.contact-info div span:nth-child(2) {
    font-weight: 500;
    font-size: 1.1rem;
}
.contact-info .text {
    padding-top: 0.4rem;
}
.contact-form {
    padding: 2rem 0;
    border-top: 1px solid #c7c7c7;
}
.contact-form form {
    padding-bottom: 1rem;
}
.form-control {
    width: 100%;
    border: 1.5px solid #c7c7c7;
    border-radius: 5px;
    padding: 0.7rem;
    margin: 0.6rem 0;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    outline: 0;
}
.form-control:focus {
}
.contact-form form div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 0.6rem;
}
.send-btn {
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    color: #fff;
    background: #f7327a;
    border: none;
    border-radius: 5px;
    padding: 0.7rem 1.5rem;
    cursor: pointer;
    transition: all 0.4s ease;
}
.send-btn:hover {
    opacity: 0.8;
}
.contact-form > div img {
    width: 85%;
}
.contact-form > div {
    margin: 0 auto;
    text-align: center;
}
.social-links {
    display: flex;
    justify-content: center;
}
.social-links a {
    text-decoration: none;
    width: 40px;
    height: 40px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.4rem;
    transition: all 0.4s ease;
}
.social-links a:hover {
    color: #f7327a;
    border-color: #f7327a;
}

@media screen and (min-width: 768px) {
    .contact-bg .text {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    .contact-info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 992px) {
    .contact-bg .text {
        width: 50%;
    }
    .contact-form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
}

@media screen and (min-width: 1200px) {
    .contact-info {
        grid-template-columns: repeat(4, 1fr);
    }
}
.headd {
    font-size: 25px;
}
.paraa {
    font-size: 15px;
}
@media screen and (max-width: 600px) {
    .headd {
        font-size: 15px;
    }
    .paraa {
        font-size: 12px;
    }
}

@media (max-width: 549px) {
    #asmita-text-footer > * {
        font-size: 11vw;
    }
}

.footer {
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}

.footer__div {
    font-size: 70px;
    letter-spacing: 15px;
    color: var(--pr-color);
    text-transform: uppercase;
}

.footer__div span {
    display: inline-block;
}

.footer-row-flex > .row > * {
    flex: 1 1 0px;
}
.footer-row-flex > .row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.footer__div > span {
    color: white;
    font-weight: 800;
}

@media screen and (min-width: 1493px) {
    .section-title {
        font-size: 5vw;
    }
    .sponsor-footer-images {
        position: relative;
        bottom: 40px !important;
    }
}

@media screen and (max-width: 1031px) {
    .footer-row-flex > .row :nth-child(1) {
        flex-basis: 45%;
    }
    .footer-row-flex > .row :nth-child(2) {
        order: 2;
    }
    .footer-row-flex > .row :nth-child(3) {
        order: 3;
    }
    .footer-row-flex > .row :nth-child(4) {
        order: 4;
    }
    .footer-row-flex > .row :nth-child(5) {
        order: 1;
        flex-basis: 45%;
    }
    .footer-images > img {
        width: 40%;
    }
}

@media screen and (max-width: 993px) {
    .section-employee .location__text {
        padding-left: 100px;
    }
    .section-employee .location__text__date {
        padding-right: 80px;
    }

    .footer-images {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    #helllo {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #asmita-text-footer > * {
        font-size: 5vw;
    }
    #helllo,
    .footer-images,
    #asmita-text-footer {
        position: relative;
        bottom: 50px;
    }
    .team-arrow-image {
        width: 150px;
    }
}

.footer-title-and-text {
    /* position: relative;
    bottom: 80px; */
    text-align: center;
}
@media screen and (max-width: 879px) {
    #helllo,
    .footer-images,
    #asmita-text-footer {
        position: relative;
        bottom: 0px;
    }
    #asmita-text-footer > * {
        font-size: 6vw;
    }
    .footer-title-main {
        padding-top: 30px !important;
    }
    .footer-title-and-text {
        bottom: 10px !important;
    }
}

@media screen and (max-width: 723px) {
    .sponsor-footer-hr {
        display: none !important;
    }
    .sponsor-footer-section {
        border-top: 1px solid rgba(118, 118, 118, 0.337);
        padding-top: 30px;
        margin-top: 40px;
    }
    .footer-title-main {
        padding-top: 30px !important;
    }
    #asmita-text-footer {
        font-size: 5vw;
    }
    #helllo,
    .footer-images,
    #asmita-text-footer {
        position: relative;
        bottom: 30px;
    }

    .img-team-png > img {
        width: 100% !important;
    }
}

@media screen and (max-width: 991px) {
    .section-location {
        bottom: 180px !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .section-location .paraa {
        width: 100%;
        position: relative;
        right: 50px;
    }
    .section-sponsor {
        bottom: 35px !important;
    }
    .footer-title-and-text {
        bottom: -42px;
    }
    .sponsor-footer-images {
        position: relative;
        top: 20px;
    }
    #map {
        height: 400px !important;
        width: 85%;
        right: 33px;
    }
    .navbar-flex-row {
        justify-content: space-between;
    }
    .navbar-brand {
        order: 2;
    }
}

@media screen and (max-width: 573px) {
    #asmita-text-footer {
        font-size: 4vw;
    }
    .map-center {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 !important;
        position: relative;
        right: 23px;
    }
    #map {
        height: 300px !important;
        width: 450px !important;
    }
    .sponsor-footer-title {
        font-size: 22px !important;
    }
    .sponsor-footer-paraa {
        font-size: 17px !important;
    }
    .footer-contact .paraa {
        font-size: 15px !important;
    }
    .footer-images img {
        flex-basis: 80% !important;
    }
}
